/* 
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      } */

      
      .container,
      .imgContainer {
        width: 1440px;
        margin: 0 10%;
        display: flex;
      }

      

      .logo img {
        height: 50px;
      }

      .headerLinks {
        display: flex;
      }

      .headerLinks .link {
        margin-left: 20px;
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-decoration: none;
      }

      .restaunrantName {
        font-size: 48px;
      }

      .imgContainer {
        flex-direction: row;
      }

      .imageWrapper {
        width: 650px;
        height: 420px;
        overflow: hidden;
        position: relative;
        padding: 10px 0px 10px 0px;
      }

      .leftImage {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .rightImages {
        width: 430px;
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 200px);
        gap: 10px;
        padding: 10px 0px 10px 10px;
        overflow: hidden;
      }

      .rightImage {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }

      .selectionBox {
        width: 332px;
        height: 394px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px 20px 20px 20px; /* 與圖片區域之間的間距 */
      }

      .selectionTitle {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
      }

      .box {
<<<<<<< HEAD
        width: 288px;
=======
        width: 296px;
>>>>>>> main
        height: 67px;
        background-color: #7db9de;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        color: white;
        font-size: 16px;
        text-align: center;
      }
<<<<<<< HEAD
=======
      .box2 {
        width: 288px;
        height: 60px;
        margin-left: 10px;
        
        background-color: #7db9de;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        text-align: center;
      }
>>>>>>> main
      .introduction {
        width: 40%;
        height: auto;
        font-size: 24px;
        flex-wrap: wrap;
      }
      .googlemap {
        width: 600px;
        height: 450px;
       
      }
      .reservationKnowing {
        margin-top: 100px;
        font-size: 16px;
      }
      .guestComment {
        flex-wrap: wrap;
        width: 600px;
        gap: 20px;
      }
      .guestName {
        width: 40px;
        
      }
      .guestNameAndstarAndDate {
        width: 490px;
        justify-content: space-between;
        display: flex;
        
      }
      .starAndDate {
        display: flex;
        width: 80px;
        
      }
      .starImg {
        width: 16px;
        height: 16px;
      }
      .commentDate {
        margin-left: 20px;
       
      }